@use "../../styles/variables/colors";

.pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 100%;
  min-width: 280px;
  margin-bottom: 30px;
  gap: 10px;

  &__previous-page {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
  }

  &__previous-page:hover {
    background-color: rgba(colors.$color-primary-light, 0.1);
  }

  &__next-page {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 10px;
    border-radius: 4px;
  }

  &__next-page:hover {
    background-color: rgba(colors.$color-primary-light, 0.1);
  }

  &__previous-page::before {
    content: "◁";
    margin-right: 4px;
  }

  &__next-page::after {
    content: "▷";
    margin-left: 4px;
  }

  &__pages-list {
    display: flex;
    flex-direction: row;
    gap: 5px;
  }

  &__page {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48px;
    height: 48px;
    border-radius: 4px;

    :hover {
      background-color: rgba(colors.$color-primary-light, 0.1);
    }
  }

  @media only screen and (max-width: 619px) {
    justify-content: space-between;
    max-width: 305px;

    &__page {
      display: none;
    }
  }
}

.current {
  font-weight: 600;
  color: #fff;
  background-color: colors.$color-primary-light;
}
