@use "../../styles/variables/colors";
@use "../../styles/utils";

.record {
  position: relative;
  padding: 15px;
  background-color: rgba(colors.$color-primary-light, 0.1);
  border-radius: 4px;

  &__cover-image {
    width: 100%;
    max-width: 275px;
    height: 100%;
    overflow: hidden;
    box-shadow: 2px 4px 13px -2px rgba(0, 0, 0, 0.25);
  }

  &__modifiers {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: utils.pxToRem(18);
    margin: 10px 0 0 0;
    height: 45px;
    color: colors.$color-primary;
  }

  &__modify-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
  }

  &__delete-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 49%;
    height: 100%;
    background-color: #fff;
    border-radius: 3px;
  }

  &__information {
    display: flex;
    flex-direction: column;
    padding: 13px;
  }

  &__title {
    font-size: utils.pxToRem(24);
    font-weight: 700;
    line-height: 46.8px;
    margin: 0;
  }

  &__record-release-date {
    font-size: utils.pxToRem(16);
    font-weight: 400;
    line-height: 19.5px;
  }
}
