.records {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 35px;
  gap: 25px;

  @media only screen and (min-width: 620px) and (max-width: 900px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media only screen and (min-width: 900px) and (max-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  @media only screen and (min-width: 1200px) {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}
