$color-primary: #3e816d;
$color-primary-light: #84c7ae;
$color-error-light: #ffefef;
$color-main-background: #fff;
$font-color-heading: #212b27;
$font-color-text: #585858;
$font-color-text-light: #808080;
