@use "../../sass/variables/colors";
@use "../../sass/utils";

.header {
  position: absolute;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  padding: 25px 20px 10px 22px;
  background: #fff;
  box-shadow: 0px 5px 32px 0px rgba(9, 9, 9, 0.25);

  &__title {
    margin: 0;
    color: colors.$color-primary;
    font-size: utils.pxToRem(24);
    font-weight: 500;
    margin-bottom: 2px;
  }
}
