@use "../../styles/variables/colors";
@use "../../styles/utils";

.modify-record {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 28px 15px;
  margin-top: 58px;
  margin-bottom: 60px;
  border-radius: 4px;
  background-color: rgba(colors.$color-primary-light, 0.1);
  gap: 83px;

  &__title {
    text-align: center;
    font-size: utils.pxToRem(32);
    line-height: 46.8px;
  }
}
