@use "../../styles/variables/colors";
@use "../../styles/utils";

.no-records-information {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__logo {
    width: 165px;
    height: auto;
  }

  &__title {
    font-size: utils.pxToRem(32);
    text-align: center;
    color: colors.$font-color-text-light;
    width: 200px;
  }
}
